<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="tutorial.css">
        <title>Tutorial</title>
    </head>
    <body>
        <main>
            <h1>TUTORIAL</h1>

            <div class="buttons">
                <a href="/slider">
                    <button id="new-participant">Start</button>
                </a>
            </div>
        </main>
    </body>
</html>
